<form action="/" method="post">
    <div class="form-control">
        <label for="title">User</label>
        <input type="text" name="user" id="user">
    </div>
  <button class="btn" type="submit">Add User</button>
</form>